@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  width: 100%;
  overflow-x: hidden !important;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Dashboard / custom scroll areas */
.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}